<div class="col-xs-12">

<div class="col-xs-12" ng-controller="ApplyCtrl as apply">

  <div class="jumbotron">
    <h1>Apply for Housing</h1>
    <p>Description here of what to expect in this page ...</p>
  </div>

  <form>
    <div class="form-group col-xs-6">
      <label for="applicant_firstname">First Name</label>
      <input type="text" class="form-control" ng-model="application.firstName" id="applicant_firstname" placeholder="First Name">
    </div>
    <div class="form-group col-xs-6">
      <label for="applicant_lastname">Last Name</label>
      <input type="text" class="form-control" ng-model="application.lastName" id="applicant_lastname" placeholder="Last Name">
    </div>

    <div class="form-group col-xs-4">
      <label for="applicant_SSN">SSN</label>
      <input type="number" class="form-control" ng-model="application.ssn" id="applicant_SSN" placeholder="Enter social security #">
    </div>

    <div class="form-group col-xs-4">
      <label for="applicant_drivers_license">Drivers License</label>
      <input type="number" class="form-control" ng-model="application.driversLicense" id="applicant_drivers_license" placeholder="Enter Drivers License #">
    </div>

    <div class="form-group col-xs-4">
      <label for="applicant_phone">Phone Number</label>
      <input type="phone" class="form-control" ng-model="application.phone" id="applicant_phone" placeholder="Enter Phone Number #">
    </div>

    <div class="form-group col-xs-12">
      <label for="applicant_street">Street Current Address</label>
      <input type="number" class="form-control" ng-model="application.address.street" id="applicant_street" placeholder="Enter Street Address">
    </div>
    <div class="form-group col-xs-6">
      <label for="applicant_city">City</label>
      <input type="number" class="form-control" ng-model="application.address.city" id="applicant_city" placeholder="Enter City">
    </div>

    <div class="form-group col-xs-2">
      <label for="applicant_state">State</label>
      <input type="number" class="form-control" ng-model="application.address.state" id="applicant_state" placeholder="Enter State">
    </div>

    <div class="form-group col-xs-4">
      <label for="applicant_postal_code">ZIP Code</label>
      <input type="number" class="form-control" ng-model="application.address.postal_code" id="applicant_postal_code" placeholder="Postal (ZIP)#">
    </div>
    <div class="form-group col-xs-4">
      <label for="applicant_type">Currently Own or Rent</label>
      <div class="radio">
        <label>
          <input type="radio" name="appType" id="appTypeRent" value="rent" checked>
          Rent
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="appType" id="appTypeOwn" value="own">
          Own
        </label>
      </div>
    </div>

    <div class="form-group col-xs-12">
        <button class="btn btn-default" ng-click="sendApplication()">Submit</button>
        <button class="btn btn-default" ng-click="clearApplication()">Clear</button>
        <button class="btn btn-warning" ui-sref="home">Home</button>
    </div>
  </form>

</div>
</div>